.my_icon {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #000;
  opacity: 0.4;
  margin: 60px auto 0px;
}
.my_name {
  width: 100%;
  text-align: center;
  margin-top: 16px;
  font-size: 24px;
}
.h2 {
  font-size: 20px;
  margin-top: 32px;
}

.toQuestion{
  margin-top: 32px;
}

.question_name {
  margin-top: 8px;
}

.question_link {
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #fff;
  margin-top: 16px;
  padding: 16px;
  width: 100%;
  height: 50px;
}
.question_box {
  background-color: #fff;
  margin-top: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
.question_box_name {
  flex: 1;
}
.question_box_status {
  margin-right: 10px;
}